body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "titulo-sobre titulo-sobre"
    "section-sobre section-imagem"
    "titulo-stack titulo-stack"
    "section-stack section-stack";
}

.titulo-sobre {
  grid-area: titulo-sobre;
  display: flex;
  justify-content: center;
}
.titulo-stack {
  grid-area: titulo-stack;
  display: flex;
  justify-content: center;
}

.section-stack {
  grid-area: section-stack;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  /* border: 2px solid purple; */
  justify-content: center;
}

.section-imagem {
  grid-area: section-imagem;
  margin: 1.5rem;
  display: flex;
  /* border: 2px solid purple; */
  justify-content: center;
}

.section-sobre {
  /* border: 2px solid purple; */
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

.section-sobre > p {
  font-size: 1.3rem;
  display: flex;
  align-self: center;
  padding: 2rem;
  text-align: center;
  grid-area: section-sobre;
  /* border: 2px solid purple; */
}

.section-imagem > img {
  border-radius: 20px;
  width: 100%;
  max-width: 500px; /* não ultrapassa o limite, mas é responsiva */
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "titulo-sobre"
      "section-sobre"
      "section-imagem"
      "titulo-stack"
      "section-stack";
  }

  .titulo-sobre {
    grid-area: titulo-sobre;
    display: flex;
    /* border: 2px solid black; */
    margin: 0.5rem auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .titulo-stack {
    grid-area: titulo-stack;
    display: flex;
    margin: 0.5rem auto;
    justify-content: center;
  }
  .section-stack {
    grid-area: section-stack;
  }
  .section-imagem {
    grid-area: section-imagem;
    margin: 1rem;
    display: flex;
    /* border: 2px solid purple; */
    justify-content: center;
  }

  .section-sobre {
    /* border: 2px solid purple; */
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  .section-sobre > p {
    font-size: 1.2rem;
    display: flex;
    align-self: center;
    padding: 2rem;
    grid-area: section-sobre;
    /* border: 2px solid purple; */
  }

  .section-imagem > img {
    border-radius: 20px;
    width: 350px;
    height: 300px;
  }
}
